.text-center {
    text-align: center;
}

body {
    background-image: url(img/back_img.jpg);
}



.registerSteps {
	font-family: 'Dosis', sans-serif;
}

li {
	height:100%;
	width:100%;
	padding: 0;
	margin: 0;
	list-style: none;
	display:flex;
}

@media screen and (min-width: 750px) {
	header {
		height: 50px;
		margin-left: 12.5%;
		width: 75%;
		clear: both;
		border-top: 1px solid #40474D;
		border-bottom: 1px solid #40474D;
		
	}
	

	.link-block-menu {
		height:100%;
		width:100%;	
		font-size: 13px;
		margin:auto;
		color: rgba(0,0,0,.8);
		text-decoration: none;
	}
	
	.menu {
		height:50px;
		width:100%;
		font-family: 'Dosis', sans-serif;
		padding: 0;
		margin:0;
		list-style: none;
		font-weight: 700;
		display:flex;
		justify-content:space-between;
		align-items:center;
	}
	
	.dropdown:before {
		bottom: 100%;
		left: 40%;					
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		border-bottom-color: #000;
		border-width: 8px;				
	}

	.dropdown-1:before {
		left: 33%;
	}
	
	ul.menu > li.has-dropdown:hover > ul.dropdown {
		display: block;
		position: absolute;
		left: 3%;
		font-size: 10pt;
		
		width: 110px;
		-webkit-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
		box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
		top: 40px;
		text-align: left;
		background: #000;
		padding: 15px;
		border-radius: 5px;
		transition: top 1s ease-out 0.5s;
	}

	ul.menu > li.has-dropdown:hover > ul.dropdown-1 {	
		width: 150px;
	}
}

@media screen and (max-width: 750px) {
	.menu {
		margin-left: 12.5%;
		width: 75%;
		font-family: 'Dosis', sans-serif;	
		display: flex;
		flex-direction: column;
		justify-content:space-between;
		align-items:flex-end;
		border-top: 1px solid #40474D;
		border-bottom: 1px solid #40474D;
		
	}
	
	.link-block-menu {
		font-size: 15px;
		color: rgba(0,0,0,.8);
		text-decoration: none;
	}
	
	.dropdown:before {
		bottom: 70%;
		left: -4%;					
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		border-bottom-color: #000;
		border-width: 8px;				
	}

	.dropdown-1:before {
		left: -4%;
	}
	
	ul.menu > li.has-dropdown:hover > ul.dropdown {
		display: block;
		position: absolute;
		left: 75px;
		font-size: 10pt;
		
		width: 110px;
		-webkit-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
		box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
		text-align: left;
		background: #000;
		padding: 15px;
		border-radius: 5px;
		transition: top 1s ease-out 0.5s;
	}

	ul.menu > li.has-dropdown:hover > ul.dropdown-1 {	
		width: 150px;
	}
}

.link-block-menu:visited {
    color: rgba(0,0,0,.8);
} 

.link-block-menu:hover {
	background-image: url(img/back_yellow.png);
    color: #fff;
}

.link-block-remember-pass {
	font-size: 14px;
	padding: 0px 5px;
	color: rgba(0,0,0,.8);
	text-decoration: underline;
}

.link-block-remember-pass:visited {
    color: rgba(0,0,0,.8);
} 

.link-block-remember-pass:hover {
	color: rgba(0,0,0,.5);
}

.link-block-registration {
	position: relative;
	font-size: 20px;
	padding: 30px 20px;
	color: rgba(0,0,0,.8);
	text-decoration: none;
}


.link-block-registration:visited {
    color: rgba(0,0,0,.8);
} 

.link-block-registration:hover {
	color: rgba(0,0,0,.5);
}

@media screen and (min-width: 750px) {
	.top {
		margin-bottom: 10px;
		display: flex;
		justify-content:space-around;
		align-items:center;
		margin-left: 10%;
		margin-right: 12.5%;
	}
}

@media screen and (min-width: 1050px) {
	.top {
	margin-bottom: 10px;
	display: flex;
	justify-content:space-between;
	align-items:center;
	margin-left: 10%;
	margin-right: 12.5%;
}

	.input-left {
		float: left;
	}

	.authorization {
		float: right;
	}

	.auth-form {
		float: left;
	}

	.input-right {
		margin-left: 5px;
		float: left;
	}

	.remember-pass {
		float: left;
	}
}

@media screen and (max-width: 750px) {
	.top {
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		justify-content:space-between;
		align-items:center;
		margin-left: 10%;
		margin-right: 12.5%;
	}
}

.dropdown {
	display: none;
}

.has-dropdown {
	position: relative;
}

ul.menu > li.has-dropdown > ul.dropdown > li > a{	
    color: rgb(123,123,123);
	text-decoration: none;
}

ul.menu > li.has-dropdown > ul.dropdown > li > a:hover{	
    color: rgb(200,200,200);
}

#enter:hover {
  box-shadow:
    1px 1px #000;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
}

.animated-fast {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes fadeInUpMenu {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpMenu {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

@media screen and (min-width: 750px) {
	.head-title {
		font-family: 'Dosis', sans-serif;
		margin-right: 15.5%;
		margin-left: 15.5%;
		border-bottom: 1px solid #b1b1b1;
		height: 40px;
	}
	
	.middle {
		display: flex;
		justify-content:space-between;
		align-items:center;
		overflow: hidden;
	}
}

@media screen and (max-width: 750px) {
	.head-title {
		font-family: 'Dosis', sans-serif;
		margin-right: 15.5%;
		margin-left: 15.5%;
		border-bottom: 1px solid #b1b1b1;
	}
	
	.middle {
		display: flex;
		flex-direction: column;
		justify-content:space-between;
		align-items:center;
		overflow: hidden;
	}
}



.head-title > .middle > h1 {	
    font-size: 21px;
    color: #2a2f34;
    float: left;
}

.regInfoSpan {
	margin-top: 5px;
    float: right;
    font-size: 13px;
    color: #53595f;
    font-weight: 400;
}

.registerSteps {
	margin-left: 25%;
}

.label {
    text-align: left;
    color: #2b3137;
    line-height: 40px;
}

.but {
	margin-top: 5px;
}

.field > input:invalid:not(:placeholder-shown){
	border-color: red;
}

@media screen and (min-width: 750px) {
	.field {
		position: relative;
	}

	.field-fname > input:invalid:not(:placeholder-shown) + span::before{
		content : "Укажите ваше имя (начиная с заглавной буквы).";
		position: absolute;
		padding: 5px;
		top: -10px;
		color: #5f656c;
		font-size: 15px;
		font-style: normal;
	}

	.field-fname > input:invalid:not(:placeholder-shown) + span::after{
		font-family: 'Courgette', cursive;
		content : "Цифры и заглавные буквы не в начале строки недопустимы";
		position: absolute;
		padding: 5px;
		clear: both;
		top: 4px;
		color: #5f656c;
		font-size: 13px;
		line-height: 16px;
		font-style: italic;
	}
}

@media screen and (max-width: 750px) {	
	.field {
		position: relative;			
		display: flex;
		flex-direction: column;
		justify-content:space-around;
		align-items:flex-start;		
	}
	
	.field-fname > input:invalid:not(:placeholder-shown) + span::before{
		content : "Укажите ваше имя (начиная с заглавной буквы).";
		position: a;
		width: 25%;
		color: #5f656c;
		font-size: 15px;
		font-style: normal;
	}

	.field-fname > input:invalid:not(:placeholder-shown) + span::after{
		font-family: 'Courgette', cursive;
		content : "Цифры и заглавные буквы не в начале строки недопустимы";	
		width: 25%;
		top: 20px;
		color: #5f656c;
		font-size: 13px;
		line-height: 16px;
		font-style: italic;
	}
}



.field-sname > input:invalid:not(:placeholder-shown) + span::before{
	content : "Укажите вашу фамилию (начиная с заглавной буквы).";
}

.field-phone > input:invalid:not(:placeholder-shown) + span::before{
	content : "Введите ваш номер.";
}

.field-phone > input:invalid:not(:placeholder-shown) + span::after{
	content : "Номер должен быть в виде: +(*)(**)*** ** **";
}

.field-email > input:invalid:not(:placeholder-shown) + span::before{
	content : "Введите адрес вашей электронной почты.";
}

.field-email > input:invalid:not(:placeholder-shown) + span::after{
	content : "Адрес должен содержать собачку '@' и  '.' после неё.";
}

.field-pass > input:invalid:not(:placeholder-shown) + span::before{
	content : "Введите пароль.";
}

.field-pass > input:invalid:not(:placeholder-shown) + span::after{
	content : "Пароль должен состоять минимум из 8 символов и содержать цифру, заглавную и прописную буквы латинского алфавита";
	width: 200px;
}

.field > span {
	color: red;
}

@media screen and (min-width: 750px) {
	footer {
		margin-left: 9.5%;
		margin-right:9.5%;
		text-align:center;
		height: 166px;
		margin-top: 40px;
		background: url(img/footer_right_s.jpg) no-repeat scroll right bottom, url(img/footer_left_s.jpg) no-repeat scroll left bottom, 
					url(img/footer_bg_s.jpg) repeat scroll right bottom transparent;
		display: flex;
		flex-direction: column;
		justify-content:flex-start;
		align-items:center;
	}
}

@media screen and (max-width: 750px) {
	footer {
		margin-left: 9.5%;
		margin-right:9.5%;
		text-align:center;
		height: 166px;
		margin-top: 40px;
		background: url(img/footer_right_s.jpg) no-repeat scroll right bottom, url(img/footer_left_s.jpg) no-repeat scroll left bottom, 
					url(img/footer_bg_s.jpg) repeat scroll right bottom transparent;
		display: flex;
		flex-direction: column;
		justify-content:center;
		align-items:center;
	}
}

.logo-footer {
	font-size:25px;
}

.logo-top {	
	text-align: center;
	font-size: 64px;
	width: 325px;
	background: url(img/footer_right_s1.png) no-repeat scroll right bottom, url(img/footer_left_s1.png) no-repeat scroll left bottom, 
				url(img/footer_bg_s1.png) repeat scroll right bottom transparent;
	background-size: contain;
}